.table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-radius: var(--border-radius);
    overflow: hidden;
    border: 1px solid black; /* this sets the border thickness and color */
    margin: 3 auto;
}

.thead {
    position: sticky;
    z-index: 100;
}

.trHead {
    background: var(--bg);
}

.th {
    border: 1px solid black;
    padding: var(--sm-spacing);
    color: var(--text);
    text-transform: capitalize;
    
    font-size: 14px;
}

.trBody {
    border: 1px solid black;
    background: var(--white);
    
}

.td {
    padding: var(--sm-spacing);
    border: 1px solid var(--bg2);
    border: 1px solid black;
    font-size: 14px;
}
.authForm {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.authForm form {
    display: flex;
    flex-direction: column;
}

.authForm input[type="text"],
.authForm input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.authForm button {
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
}

.authForm button:hover {
    background-color: #0056b3;
}
